.all {
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    height: 10vh;
    
  }
  
  .links_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    font-size: 1rem;
    margin-top: 30px; 
    cursor: pointer;
    
  }
