.all-container{
    display: flex;
    flex-direction: column;
}

.icons{
    gap: 15px ;
    display: flex;
    cursor: pointer;
    font-size: 1.4rem;
    margin-left: -2.5px;
    
}
.icons > a > .linkedin {
color: #0A66C2;

}
.icons > a > .linkedin:hover{
    color: white;
    }

    .icons > a > .github {
        color: #181717;
    }
    .icons > a > .github:hover {
        color: white;
    }
    .icons > a > .youtube {
        color: #FF0000;
    }
    .icons > a > .youtube:hover {
      color: white;
    }
   .curriculo-allContainer{
    display: flex;
    flex-direction: column;
    gap: 10px ;
    margin-top: 10px;
   }

   .viewCV{
    color: grey;
    background-color: white;
    padding: 5px;
    outline: none;
    appearance: none;
    border: 1.5px solid grey;
    border-radius: 15px;
    margin-left: -3.5px;
   }
   .viewCV >p{
    font-size: 0.8rem;
   }

   .downloadCV{
    color: grey;
    background-color: white;
    padding: 7px;
    outline: none;
    appearance: none;
    border: 1.5px solid grey;
    border-radius: 50%;
    margin-left: -1.5px;
   }
   .download-icon{
    font-size: 1.5rem;
   }
   