*{
    margin: 0;
    padding: 0;
    
}
a{
    text-decoration: none;
    color: inherit;
}

hr{
    margin-top: 70px;
    height: 3px;
    color: grey;
    background-color: rgb(99, 2, 2);
    border: 1px;
}
.header-home{
    background-color: grey;
     
}
.body-home{
    margin-top: 70px;
    
}
.footer-home {
    background-color: grey;
}