
.card-exp-container{
    display: flex;
    flex-direction: column;
    
}
.arrow{
    color: #bab8b7;
}
.section2home-title{
 display: flex;
 align-items: center;
 justify-content: center;
}
.section2home-title > h1 {
    margin-top: 20px;
    color: white;
}
.card-exp-direcional-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.card-exp-direcional-firstCard{
    width: 200px;
    height: 300px;
    border: 5px solid rgb(25, 25, 46);
    border-radius: 20px;
}
.card-exp-direcional-firstCard-image > img{
    width: 200px;
    height: 300px;
   border-radius: 15px;
   object-fit: cover;
    
    
}
.card-exp-direcional-second{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 2px solid #bab8b7;
    border-radius: 20px;
}
.card-exp-direcional-secondCard-title > h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px ;
    color: white;
}
.card-exp-direcional-secondCard-text > p {
    margin: 10px;
    color: #bab8b7;
}

.card-exp-direcional-third {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 2px solid #bab8b7;
    border-radius: 20px;
}

.card-exp-direcional-thirdCard-title > h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    color: white;
    
}
.card-exp-direcional-thirdCard-text > p {
  margin-top: 5px;
  color:#bab8b7;
}
/* Second Line of card (SL) */
.card-exp-sl-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.card-exp-sl-firstCard{
    width: 200px;
    height: 300px;
    border: 5px solid rgb(25, 25, 46);
    border-radius: 20px;
}
.card-exp-sl-firstCard-image > img{
    width: 200px;
    height: 300px;
   border-radius: 15px;
   object-fit: cover;
    
    
}
.card-exp-sl-second{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 2px solid #bab8b7;
    border-radius: 20px;
}
.card-exp-sl-secondCard-title > h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    color: white;
}
.card-exp-sl-secondCard-text > p {
    margin: 10px;
    color: #bab8b7;
}

.card-exp-sl-third {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 2px solid #bab8b7;
    border-radius: 20px;
}

.card-exp-sl-thirdCard-title1 > h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    color: white;
}
.card-exp-sl-thirdCard-text1 > p {
  margin-top: 5px;
  color: #bab8b7;
}

.card-exp-sl-thirdCard-title2 > h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    color: white;
}
.card-exp-sl-thirdCard-text2 > p {
    margin-top: 5px;
    color: #bab8b7;
  }

  /* Third line of Cards (Nordic Store) */
  .card-exp-nd-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.card-exp-nd-firstCard{
    width: 200px;
    height: 300px;
    border: 5px solid rgb(25, 25, 46);
    border-radius: 20px;
}
.card-exp-nd-firstCard-image > img{
    width: 130%;
    width: 200px;
    height: 300px;
   border-radius: 15px;
   object-fit: cover;
    
    
}
.card-exp-nd-second{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 2px solid #bab8b7;
    border-radius: 20px;
}
.card-exp-nd-secondCard-title > h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    color: white;
}
.card-exp-nd-secondCard-text > p {
    margin: 10px;
    color: #bab8b7;
}

.card-exp-nd-third {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 2px solid #bab8b7;
    border-radius: 20px;
}

.card-exp-nd-thirdCard-title1 > h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    color: white;
    
}
.card-exp-nd-thirdCard-text1 > p {
  margin-top: 5px;
  color: #bab8b7;
}

.card-exp-nd-thirdCard-title2 > h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    color: white;
}
.card-exp-nd-thirdCard-text2 > p {
    margin-top: 5px;
    color: #bab8b7;
  }