.footer-container{
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    height: 10vh;
    gap: 3px;
}
.footer-container >p {
    margin-top: 36.6px;
}
.footer-container > .copyright {
    margin-top: 38px;
    font-size: 0.85rem;
    margin-left: -2px;
    cursor: pointer;

}
